* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(background.jpg);
  /* scale: 1.2; */
  font-size: 20px;
  font-family: 'Barlow Condensed', sans-serif;
}

.container {
  width: 700px;
  height: 100%;
  background-color: #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 100px auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.container h1 {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 5px;
  font-size: 45px;
  text-shadow: 2px 2px 3px white;
}

.container hr {
  margin-bottom: 20px;
}

.container h3 {
  font-family: 'Roboto', sans-serif;
  margin-top: 15px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 3px white;
}

.container #pemasukan {
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.container li {
  list-style-type: square;
  margin-bottom: 2px;
  margin-left: 17px;
}

#edit-invest,
#edit-needs,
#edit-wants {
  background-color: blue;
  border-radius: 4px;
  font-size: 14px;
  padding: 3px;
  color: rgb(242, 242, 242);
  cursor: pointer;
}

#count,
#reset {
  margin-top: 20px;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 20px;
}

#count {
  background-color: rgb(1, 192, 255);
  color: black;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  border-radius: 5px;
  padding: 4px;
}

#reset {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: rgb(239, 68, 68);
  color: rgb(255, 255, 255);
  font-size: 16px;
  border-radius: 5px;
  padding: 4px;
}

#reset-invest,
#reset-needs,
#reset-wants {
  background-color: red;
  border-radius: 4px;
  font-size: 14px;
  padding: 3px;
  color: rgb(242, 242, 242);
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 300px;
  }

  .container h1 {
    font-size: 40px;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@1,500&display=swap');
